@font-face {
    font-family: "BebasNeueBold";
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}


body, html{
	margin:0;
	padding:0;
	height:100%;
}

.header{
	padding-top:12px;
	background-color:#fff;
	padding-bottom:16px;
	z-index:100;
	position:relative;
	width:100%;
}

.logo{
	width:100px;
	margin-left:45px;
	border:0;
	padding-left:0px;
	padding-right:0px;
}

.logo a:link{
	width:100px;
	margin-left:59px;
	border:0;
	padding-left:0px;
	padding-right:0px;
	left:0px;
}

.menu{
	 font-family: BebasNeueRegular;
	 color:#1D1F29;
	 font-size:13pt;
	 position:absolute;
	 right:35px;
	 top:25px;
}

.menu a, a:link, a:visited, a:active{
	 font-family: BebasNeueRegular;
	 color:#1D1F29;
	 font-size:13pt;
	 vertical-align: middle;
	 padding-left:15px;
	 padding-right:15px;
	 text-decoration: none;
}



.menu a:hover{
	 color:#1D1F29;
	 font-size:13pt;
	 font-family: BebasNeueRegular;
	 text-decoration: none;
}


.video{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	z-index:1;
}


video#videobg { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	z-index:-100;
}

video#videobg2{ 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	z-index:-100;
}

video#videobg3 { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	z-index:-100;
}

video#videobg4 { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	z-index:-100;
}



#video-1, #video-2, #video-3, #video-4{
	display:none;
	cursor:pointer;
}


.video-full, .video-full-directores, .video-full-digital{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	z-index:999;
	display:none;
}




.video-full-demo{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
}


.video1-full{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	z-index:999;
	display:none;
}

.video2-full{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	z-index:999;
	display:none;
}

.video3-full{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	z-index:999;
	display:none;
}

.video4-full{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	z-index:999;
	display:none;
}

.contenido-full{
	width:100%;
	position:relative;
	background-color: #000000;
	text-align: center;
}

.cerrar{
	cursor:pointer;
	border:0;
	z-index:100;
	position:relative;
}

.linea-amarilla{
	width:100%;
	height:5px;
	border:0;
}

.submenu-1{
	position:absolute;
	width:145px;
	height:200px;
	background: url('../img/fondo_menu.png') no-repeat;
	background-size: 100% 100%;
	text-transform: uppercase;
	text-align:center;
	color:#767777;
	font-family:BebasNeueRegular;
	font-size:10.5pt;
	right:500px;
	margin-top:10px;
	padding:0;
	border:0;
	display:none;
}

.submenu-1 a:link, a:visited{
	text-transform: uppercase;
	color:#767777;
	font-family:BebasNeueRegular;
	font-size:10.5pt;
	text-decoration: none;
	letter-spacing: auto;
}

.submenu-1 a:hover{
	text-transform: uppercase;
	color:#000000;
	font-family:BebasNeueRegular;
	font-size:10.5pt;
	text-decoration: underline;
}

.submenu-1 p{
	margin-top:2px;
	margin-bottom:2px;
}


.container{
	text-align: center;
}

.centrar{
	position:relative;
	top:20%;
}

.centrar-production{
	position:relative;
	top:8%;
}

.centrar-about{
	position:relative;
	top:10%;
}

.titulo{
	font-family: BebasNeueBold;
	font-size:24pt;
	margin-bottom:43px;
	text-transform: uppercase;
}

#btn-video-1, #btn-video-2, #btn-video-3{
	border:0px;
	width:90%;
	cursor:pointer;
}

.nombre-video{
	text-align: left;
	margin-left:5%;
	margin-top:10px;
	margin-bottom:20px;
	font-family: BebasNeueBold;
	font-size:18pt;
	text-transform: uppercase;
}


.frame-videos{
	width:100%;
	height:500px;
	background-color:#000;
}

.head-full{
	position:absolute;
	right:100px;
}

.titulo-full{
	font-family: BebasNeueBold;
	font-size:18pt;
	margin-left:3px;
	vertical-align: middle;
	text-transform: uppercase;
}

.titulo-full-1, .titulo-full-2, .titulo-full-3, .titulo-full-4, .titulo-full-5, .titulo-full-6, .titulo-full-7, .titulo-full-8, .titulo-full-9{
	font-family: BebasNeueBold;
	font-size:18pt;
	margin-left:3px;
	vertical-align: middle;
	text-transform: uppercase;
	display:none;
}

.amarillo-vertical-full{
	vertical-align: middle;
}

.contact{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	right:0;
	background: url('../img/fondo-contact.png') no-repeat;
	background-size: 100% 100%;
	z-index:1000;
	display:none;
}

.centra-contact{
	display:table;
	width:100%;
	height:100%;
}

.contiene-contact{
	position:relative;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	color:#000;
	font-family:BebasNeueRegular;
	font-size:18pt;
	line-height: 21pt;
	text-transform: uppercase;

}

.logo-contact{
	width:200px;
}

.cerrar-contact{
	position:absolute;
	top:25px;
	right:50px;
	cursor:pointer;
}

.facebook{
	height:17px;
	padding-right:15px;
	padding-left:15px;
	border:0;
	position:relative;
}

.icono-t{
	height:17px;
	padding-right:15px;
	padding-left:15px;
	border:0;
	position:relative;
}


#hover-1, #hover-2, #hover-3, #hover-4, #hover-5, #hover-6, #hover-7, #hover-8, #hover-9{
	top:0;
	position:absolute;
	border:0;
	color:#FFF;
	width:100%;
	height:100%;
	left:4.5%;
	font-family: "BebasNeueBold";
	text-align: left;
	font-size:18pt;
	line-height: 18pt;
	cursor:pointer;
	overflow: hidden;
	display:none;
	padding-left:5%;
}


#btn-content-1, #btn-content-2, #btn-content-3, #btn-content-4, #btn-content-5, #btn-content-6, #btn-content-7, #btn-content-8, #btn-content-9{
	border:0px;
	width:90%;
	cursor:pointer;
}

.left{
	float:left;
	margin-left:10px;
	margin-right:5px;
}


.tabla-content{
	width:100%;
	height:100%;
}

#btn-content-1-over, #btn-content-2-over, #btn-content-3-over, #btn-content-4-over, #btn-content-5-over, #btn-content-6-over, #btn-content-7-over, #btn-content-8-over, #btn-content-9-over{
	border:0px;
	width:90%;
	cursor:pointer;
	display:none;
}

.descripcion{
	position:relative;
	width:75%;
	color:#FFF;
	margin-top:10px;
	margin-left:20px;
	font-family:Helvetica;
	text-align: left;
	font-size:9pt;
	line-height: 12pt;
}

.menu-cel, .btn-menu-small{
	display:none;
}

.navegacion-videos{
	position:absolute;
	z-index:70;
	bottom:27px;
	right:50px;
}

.bullet-1-activo, .bullet-2, .bullet-3, .bullet-4{
	cursor:pointer;
	float:right;
	padding-right:10px;

}

.bullet-1, .bullet-2-activo, .bullet-3-activo, .bullet-4-activo{
	cursor:pointer;
	float:right;
	padding-right:10px;
	display:none;

}

.video-cel{
	display:none;
}

#bullet-production{
	width:60%;
	position:relative;
	margin-left:50%;
	left:-30%;
}

.director-1, .director-2, .director-3, .director-4{
		font-family: BebasNeueBold;
		font-size:18pt;
		vertical-align: middle;
		text-transform: uppercase;
		display:none;
}

.director-1 a:link{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-1 a:hover{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-1 a:visited{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-2 a:link{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-2 a:hover{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-2 a:visited{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-3 a:link{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-3 a:hover{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-3 a:visited{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-4 a:link{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-4 a:hover{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.director-4 a:visited{
		font-family: BebasNeueBold;
		font-size:18pt;
		color:#000;
		text-decoration: none;
}

.close-small{
	display:none;
}

@media(max-width:1999px) {
	#bullet-production{
		width:80%;
		position:relative;
		margin-left:50%;
		left:-40%;
	}
}

@media(max-width:991px) {
	#bullet-production{
		width:100%;
		position:relative;
		margin-left:0%;
		left:0%;
	}
}

@media(max-width:845px) {

	.submenu-1{
		display:none;
	}

	.menu{
		display:none;
	}

	.menu-small, .btn-menu-small{
		display: block;
	}

	.btn-menu-small{
		position:absolute;
		right:5%;
		top:20px;
		cursor:pointer;
		width:25px;
	}

	.menu-cel{
		position:fixed;
		height:100%;
		right:0;
		top:0;
		width:40%;
		z-index:999;
		font-family: BebasNeueRegular;
		color:#1D1F29;
	 	font-size:13pt;
	 	padding-left:5%;
	 	padding-right:5%;
	 	background-color:#FFF;
		background-size: 100% 100%;
		padding-top:15px;
		display:none;
	}

	.menu-cel a:link, a:hover, a:visited, a:active{
		font-family: BebasNeueRegular;
		color:#1D1F29;
		margin:0;
		padding:0;
		text-decoration: none;
	}



	.menu-cel p{
		margin-top:-3px;
		margin-bottom:-3px;
	}
	.logo{
		width:100px;
		margin-left:2%;
		border:0;
		padding-left:0px;
		padding-right:0px;
	}

	.logo a:link, a:hover{
		width:100px;
		margin-left:2.7%;
		border:0;
		padding-left:0px;
		padding-right:0px;
		left:0px;
	}

	.frame-videos{
		height:300px;
	}

	ol{
		margin-left:0px;
		padding-left:20px;
	}

	.btn-contacto{
		cursor:pointer;
	}

	.close-small{
		width:15px;
		position:absolute;
		right:5%;
		top:15px;
		cursor:pointer;
	}

	.centrar{
		top:15%;
	}

	.col-md-4{
		padding-bottom:40px;
	}

	.descripcion{
		font-size:8pt;
		line-height: 10pt;
	}

	#hover-1, #hover-2, #hover-3, #hover-4, #hover-5, #hover-6, #hover-7, #hover-8, #hover-9{
		font-size:14pt;
		line-height: 14pt;
		width:90%;
	}

	.video-cel{
		display:block;
		position:absolute;
		height:100%;
		width:100%;
		top:0;
		z-index:1;
	}

	.video{
		display:none;
	}

	#video-1-cel{
		background-image:url(../img/uno_full.png);
		background-size:cover;
		background-position:center;
		width:100%;
		height:100%;
		display:none;
		cursor:pointer;
		position:absolute;
		top:0;
	}

	#video-2-cel{
		background-image:url(../img/dos_full.png);
		background-size:cover;
		background-position:center;
		width:100%;
		height:100%;
		display:none;
		cursor:pointer;
		position:absolute;
		top:0;
	}

	#video-3-cel{
		background-image:url(../img/tres_full.png);
		background-size:cover;
		background-position:center;
		width:100%;
		height:100%;
		display:none;
		cursor:pointer;
		position:absolute;
		top:0;
	}

	#video-4-cel{
		background-image:url(../img/cuatro_full.jpg);
		background-size:cover;
		background-position:center;
		width:100%;
		height:100%;
		display:none;
		cursor:pointer;
		position:absolute;
		top:0;
	}

	.centrar-production{
		position:relative;
		top:5%;
	}

	.centrar-about{
		position:relative;
		top:5%;
	}

	


@media(max-height:600px) {
	.frame-videos{
		height:300px;
	}
}
